header {
  background: #d35400;
  padding:1rem;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color:white;
    font-size: 25px;


}

.nav a:hover,
.nav a.link
{
    background-color: #6d4c41;
    color:white;
    padding: 1rem;

}

img {
    width: 20%;
    height:20%;
}


h1 {
    text-align: center;
    color:#6d4c41
}
