img {
    display: block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.pic1 {
    width: 700px;
    margin: 0 auto;
}

h4 {
    color:grey;
    text-align: center;
}

button {
    background:black;
    color:white;
    padding:1rem;
    font-size: 14px;
    margin-left: 500px;
    border-radius: 1rem
}
